@{
    Layout = "_AdminLayout.cshtml";
}
@using System;
@using Nop.Web.Framework.UI;


@{

    Html.AddScriptParts(Url.Content("~/Plugins/Misc.PointOfSale/Scripts/bootstrap.min.js"));
    Html.AppendCssFileParts(Url.Content("~/Plugins/Misc.PointOfSale/Content/bootstrap.min.css"));

}


<h3>
    Sale

</h3>


<div class="row">
    <div class="col-lg-12">

        <div class="form-inline">
            <input type="text" id="txtSearchName" style="width:70%" name="search" placeholder="Search By Name" class="form-control" />
            <input type="text" style="width:20%" name="search" placeholder="Search By Code" class="form-control" />
        </div>

        <table id="tblItems" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            
        </table>

        <div class="pull-right">
            <button class="btn btn-success" onclick="OrderItems()">Save</button>
        </div>


    </div>
</div>

<script>


    $(document).ready(function () {


    });

    $(function () {

        $("#txtSearchName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "http://localhost:15536/mainpos/GetAllProducts/",

                    type: "POST",
                    data: {
                        startWith: request.term
                    },
                    success: function (data) {
                        response(JSON.parse(data));
                    }
                });
            },
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<a>' + item.label +  '</a>')
                        .appendTo(ul);
                };
            },
            
            minLength: 2,
            select: function (event, ui) {
                //alert(ui.item.id);
                $('#tblItems > tbody:last').append('<tr><td>'+ui.item.id+'</td><td>'+ui.item.label+'</td><td>'+ ui.item.price+'</td><td>1</td></tr>');






            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }

        });
    });


    var OrderItems = function () {
       // alert();
        var data = new Object();
        data.tableRows = [];

        $("#tblItems > tbody > tr").each(function (index, value) {
            var array =new Object();
            array.Id = value.children[0].innerHTML;
            array.Name = value.children[1].innerHTML;
            array.Price = value.children[2].innerHTML;
            array.Quantity = value.children[3].innerHTML;

            data.tableRows[index] = array;
        });

       
        data.result = JSON.stringify(data.tableRows);
        $.ajax({
            url: "http://localhost:15536/mainpos/BuyProducts/",

            type: "POST",
            data: {
                array: data.result
            },
            success: function (data) {
                response(JSON.parse(data));
            }
        });


    };

   
</script>